<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://unpkg.com/vue"></script>
<script src="3_condition_rendering.js" type="text/javascript"></script>

<!-- vue object? -->
<div id="app_test">
    <!-- v-if basic -->
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <!-- condition group -->
    <template v-if="ok">    <!-- template 는 화면에 rendering 안됨 -->
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>
    <!-- v-else -->
    <div v-if="Math.random() > 0.5">
      이제 나를 볼 수 있어요
    </div>
    <div v-else>
      이제는 안보입니다
    </div>

    <!-- v-else-if -->
    <div v-if="type === 'A'">
      A
    </div>
    <div v-else-if="type === 'B'">
      B
    </div>
    <div v-else-if="type === 'C'">
      C
    </div>
    <div v-else>
      Not A/B/C
    </div>

    <!-- 효율적인 렌더링 / 키를 사용하지 않으면 효율적으로 재사용하게 됨. -->
    <template v-if="loginType === 'username'">      <!-- template 는 화면에(html 상에) rendering 안됨 -->
        <label>사용자 이름</label>
        <input style="width:300px" placeholder="사용자 이름 (로그인 타입변경되도 유지)">
        <input style="width:300px" placeholder="사용자 이름 (로그인 타입변경되면 다시 그려짐)" key="username-key">
    </template>
    <template v-else>           <!-- template 는 화면에(html 상에) rendering 안됨 -->
        <label>이메일</label>
        <input style="width:300px" placeholder="이메일 주소(로그인 타입변경되도 유지)">
        <input style="width:300px" placeholder="이메일 주소(로그인 타입변경되면 다시 그려짐)" key="email-key">
    </template>
    <button v-on:click=change_login_type(loginType)>로그인타입 변경</button>

    <!-- v-show -->
    <h4 v-show="ok">안녕하세요!</h4>

    <!-- v-if와 다른점 -->
    <!-- 화면에는 렌더링 되지 않지만 style:display:none 으로 안나옴.. 실제로는 화면에 그리고 숨기는 형태임. -->
    <h4 v-show="!ok">hello~</h4>

    <!-- v-show는 template 구문을 지원하지 않음 -->
    <template v-show="false">
        <h6>안녕하세요 11111111!</h6>
        <h6>안녕하세요 22222222!</h6>
    </template>
</div>
</body>
</html>